<!DOCTYPE html>
<html>
<head>
  <title>Add Employee</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>


<div class="header-bar">
  <div class="logo">
    <div class="logo-box">💼</div>
    <div class="logo-text">
      <span class="emp">EMPLOYEE</span>
      <span class="pay">PAYROLL</span>
    </div>
  </div>
</div>

<!-- hero -->
<div class="form-wrapper">
  <div class="form-card">
    <h2>Employee Payroll Form</h2>

    <form action="/add" method="POST">

      <!-- Name -->
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" required>
      </div>
   
      <!-- department -->
      <div class="form-group">
        <label>Department</label>
       <select name="department" required>
    <option value="">Select Department</option>
    <option value="Sales">Sales</option>
    <option value="HR">HR</option>
    <option value="Engineering">Engineering</option>
    <option value="Finance">Finance</option>
    <option value="Marketing">Marketing</option>
</select>

      </div>

    <!-- salary -->
      <div class="form-group">
        <label>Salary</label>
       <input 
        type="number" 
        name="basicSalary" 
        placeholder="Enter Salary"
        min="0"
        step="0.01"
        required
        />
      </div>

      <!-- Buttons -->
      <div class="button-group">
        <a href="/" class="cancel-btn">Cancel</a>
        <button type="submit" class="submit-btn">Submit</button>
        <button type="reset" class="reset-btn">Reset</button>
      </div>

    </form>
  </div>
</div>

</body>
</html>
